#defaultBar {
    height: 5em;
    /*background-color: rgb(33, 97, 133);*/
    background: url("../img/bg.jpg");
    border-radius: 2.5em 0 0 2.5em;
    overflow:hidden;
    box-shadow: 0 0 0.5em;
}

#progressBar {
    height: 5em;
    /*background-color: #288DB4;*/
    background: url("../img/green-plaid-pattern.png");
    border-radius: 2.5em 0 0 2.5em;
    width: 19.5%;
    display: inline-block;
    /*overflow: hidden;*/
}

#progressHead {
    width: 0.5%;
    height: 100%;
    background-color: rgb(193, 211, 156);
    display: inline-block;
    /*overflow: hidden;*/
}

#controlBtn {
    background-color: rgba(2, 2, 1, 0.23);
    width: 4.5em;
    height: 4.5em;
    border-radius: 3em;
    z-index: 20;
    position: relative;
    top: -4.75em;
    left: 0.3em;
}

#controlIcon{
    position: absolute;
    left: 0.9em;
    top: 1em;
    color: rgb(193, 211, 156);
}

#captain {
    height: 5em;
    float: right;
    width: 20em;
    position: relative;
    bottom: 9.5em;
    text-align: right;
    color: rgb(75, 165, 143);
    text-shadow: 0 0 0.05em black;
    font-family: fantasy;
    padding-right: 0.2em;
}

.clicked {
    box-shadow: 0 0 0.4em black inset;
}

.musictitle{
    margin:0;
    font-size: 1.5em;
}

html {
    background-color: #808080;
    background: url("../img/paper.png");
    font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif/*rtl:prepend:"Droid Arabic Kufi","Droid Sans", */;
    color: dimgrey;
}
