@font-face {font-family: 'iconfont';
    src: url('../fonts/icons.eot'); /* IE9*/
    src: url('../fonts/icons.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/icons.woff') format('woff'), /* chrome、firefox */
    url('../fonts/icons.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
}

html {
  background: -webkit-linear-gradient(#37C7FF, #79C57C) fixed;
  background: -moz-linear-gradient(#37C7FF, #79C57C) fixed;
  background: -o-linear-gradient(#37C7FF, #79C57C) fixed;
  background: -ms-linear-gradient(#37C7FF, #79C57C) fixed;
  background: linear-gradient(#37C7FF, #79C57C) fixed;
}

body {
  padding: 0;
  margin: 0;
  font: 14px/1.5 "Droid Serif", iconfont, Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #555;
  font-weight: 300;
}

html,body{height:100%;}

.upper{
    min-height: 100%;
    margin-bottom: -60px;
    min-width: 100%;
}

.placeholder50 {
    height: 50px;
}

.placeholder90 {
    height: 90px;
}

.wrapper {
    width: 100%;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: rgba(0,0,0,0.2) 0 0 0 1px, rgba(0,0,0,0.45) 0 3px 10px;
    box-shadow: rgba(0,0,0,0.2) 0 0 0 1px, rgba(0,0,0,0.45) 0 3px 10px;
    background-image: url(/static/img/paper.png);
}

.header-part {
  -webkit-border-radius: 8px 8px 0 0;
  border-radius: 8px 8px 0 0;
  background: #c6eafa -webkit-linear-gradient(#9DE2E6, #003C57);
  position: relative;
  padding: 15px 30px;
  border-bottom: 1px solid #8F9CAC;
}

.title {

}

.mt15 {
  margin-top: 15px;
}
.ui.menu.tt {
    margin: 0;
    font-weight: 300;

}

.footer {
    background: #FFFDEC;
    border-top: 1px solid #555555;
    line-height: 20px;
    height: 59px;
    box-shadow: 0 -10px 7px -8px #393637;
    padding: 0 8% 0;
}

.inner {
    margin: 10px 0 0 0;
    height: 40px;
    border-left: 2px dotted #c3c0b4;
    border-right: 2px dotted #c3c0b4;
}

.index {
    list-style: none;
    padding: 0;
    margin: 0;
}

/*li a {*/
    /*display: block;*/
    /*font-size:16px;*/
    /*height:46px;*/
    /*width:110px;*/
    /*margin-right:0;*/
    /*text-align:center;*/
    /*line-height:53px;*/
    /*color:#666;*/
/*}*/

#index-nav {
    height: 40px;
    display: inline;
}


.ui.icon.input input {
    -webkit-transition: padding-right 700ms;
    -moz-transition: padding-right 700ms;
    -ms-transition: padding-right 700ms;
    -o-transition: padding-right 700ms;
    transition: padding-right 700ms;
    padding-right: 0 !important;
}

.ui.grid.m0 {
    margin: 0;
}

#left-button {
    position: fixed;
    top: 40px;
    width: 70px;
    z-index:1001;
    box-shadow: 0 0 7px 3px rgba(0, 0, 0, 0.1) !important;
}


#left-button:hover {
    background: rgba(0, 0, 0, 0.36);
    background-image: none;
}

#avatar {
    float: right;
    border: 1px solid #000000;
}

.TTcontent {
    padding: 1em 2em;
    /*background: linear-gradient(#FFFFFF, #dedede 702px);*/
    border-top: 0.1em solid #000000;
}

.entrytype{
    margin-left: -1em;
}

#label {
    border-color: rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.69);
    color: rgba(247, 240, 189, 1);
    padding-left: 1.5em;
}


#label .icon {
    margin: 0 0.15em 0.2em 0;
    font-size: 2em;
}

time {
    color: rgba(0, 86, 153, 0.56);
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: bold;
    font-size: smaller;
}

.TTcontent .entryheader h1{
    margin-top: -1.2em;
    margin-bottom: 0.2em;
    border-bottom: 1px solid rgba(255, 0, 0, 0.15);
    padding-left: 0.8em;
    text-shadow: 1px 1px #fff,2px 3px #e9e9e9;
}

#category {
    text-decoration: none;
    font-weight: 100;
    color: rgba(0, 0, 0, 0.31);
}

tag {
    float: right;
}

#tagform {
    display: inline;
}

#tag {
    background: rgba(109, 139, 218, 0.27);
    border-radius: 0.8em;
    padding: 0.1em 0.7em;
    border: 0;
    border-bottom: 1px solid rgb(153, 188, 252);
    font-size: 0.82em;
    text-decoration: blink;
    color: rgba(37, 135, 190, 0.71);
}

#tag a:hover{
    border-bottom: none;
}

.tags .icon{
    font-size: 1.2em;
}

.entrybody {
    text-shadow: 0 0 0.01em rgba(0, 0, 0, 0.17);
}
.entrybody ul{
    background-color: rgba(2, 2, 2, 0.04);
    border-top: 1px solid rgba(0, 0, 0, 0.17);
    border-bottom: 1px solid rgba(0, 0, 0, 0.17);
    margin: 0 -2em;
    padding: 0.5em 4em;
    color: rgb(5, 70, 107);
}

.entrybody h1{
    font-size: 1.5em;
    margin: 0.5em 0;
}

a {
    text-decoration: none;
    color: rgb(5, 70, 107);
    -webkit-transition: color 200ms;
    -moz-transition: color 200ms;
    -ms-transition: color 200ms;
    -o-transition: color 200ms;
    transition: color 200ms;
}

a:hover{
    color: rgb(82, 177, 215);
    -webkit-transition: color 200ms;
    -moz-transition: color 200ms;
    -ms-transition: color 200ms;
    -o-transition: color 200ms;
    transition: color 200ms;
}

.entrybody p{
    margin: 0.5em 0;
}

.entrybody a{
    border-bottom: dotted 1px rgb(0, 131, 42);
    text-decoration: blink;
    color: rgb(206, 35, 35);
}
.entrybody a:hover{
    color: rgb(82, 177, 215);
    -webkit-transition: color 200ms;
    -moz-transition: color 200ms;
    -ms-transition: color 200ms;
    -o-transition: color 200ms;
    transition: color 200ms;
}

.entrybody blockquote{
    border-left: 0.5em solid rgb(231, 108, 108);
    /* border-right: 0.5em solid rgb(231, 108, 108); */
    padding: 0.1em 1em;
    margin: 1em -2em 0 -1.5em;
    font-style: italic;
    background-color: rgba(127, 255, 212, 0.09);
}

.entrybody h2{
    font-size: 1.2em;
    margin: 0.5em 0;
}

#entryd{
    margin-top: 0;
}

.floatright {
    float: right;
}

#next {
    margin-right: -0.1em;
    border-radius: 0.4em 0 0 0.4em;
    /* box-shadow: -0.05em 0 0.2em black; */
    border-right: 0.2em solid black;
}

#previous {
    margin-left: -0.1em;
    border-radius: 0 0.4em 0.4em 0;
    /* box-shadow: -0.05em 0 0.2em black; */
    border-left: 0.2em solid black;
}

.empty {
    border: 0.2em dashed rgba(128, 128, 128, 0.23);
    padding: 2em;
    border-radius: 1em;
    text-align: center;
    color: rgba(128, 128, 128, 0.58);
}

.detail {
    text-decoration: none;
    padding: 0 0.5em;
    font-weight: bold;
    color: darkred;
    border: 1px;
}

#views {
    margin:0;
}

.pagination {
    background-color: rgba(241, 255, 169, 0.12);
}

#music-wrapper{
    margin-top: 2.5em;
    display: block;
    margin-right: -2em;
    margin-bottom: -4em;
}

#defaultBar {
    height: 5em;
    /*background-color: rgb(33, 97, 133);*/
    background: url("../img/bg.jpg");
    border-radius: 2.5em 0 0 2.5em;
    overflow:hidden;
    box-shadow: 0 0 0.5em;
}

#progressBar {
    height: 5em;
    /*background-color: #288DB4;*/
    background: url("../img/green-plaid-pattern.png");
    border-radius: 2.5em 0 0 2.5em;
    width: 0;
    display: inline-block;
    /*overflow: hidden;*/
}

#progressHead {
    width: 0.5%;
    height: 100%;
    background-color: rgb(193, 211, 156);
    display: inline-block;
    /*overflow: hidden;*/
}

#controlBtn {
    background-color: rgba(2, 2, 1, 0.23);
    width: 4.5em;
    height: 4.5em;
    border-radius: 3em;
    /*float: left;*/
    /*display: inline-block;*/
    z-index: 20;
    position: relative;
    top: -4.75em;
    left: 0.3em;
}

#controlIcon{
    position: absolute;
    left: 0.9em;
    top: 1em;
    color: rgb(193, 211, 156);
}

#captain {
    height: 5em;
    float: right;
    width: 20em;
    position: relative;
    bottom: 10em;
    text-align: right;
    color: rgb(75, 165, 143);
    text-shadow: 0 0 0.05em black;
    font-family: fantasy;
    padding-right: 0.2em;
}

.clicked {
    box-shadow: 0 0 0.4em black inset;
}

.musictitle{
    margin:0;
    font-size: 1.5em;
}

#project{
    width: 100%;
}