<!DOCTYPE html>
{% load staticfiles %}
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/semantic.css' %}">
    <link rel="stylesheet" href="{% static 'css/ttstyle.css' %}">
    <link rel="stylesheet" href="{% static 'css/codehighlight.css' %}">
</head>
<body>
    {% block sidebar %}
    {% endblock %}

    <div class="upper">
{#        <div class="ui blue huge launch right attached button" id="left-button" status="lock">#}
{#          <i class="icon lock layout"></i>#}
{#          <span class="text" style="display: none;">Menu</span>#}
{#        </div>#}
        <div class="ui grid m0">
            <div class="one wide column">
            </div>
            <div class="eleven wide column" style="margin-top: 0;">
                <div class="placeholder50">
                    {% if message %}
                    <div class="ui success message" style="border-radius: 0 0 0.8em 0.8em;
                    border-bottom: 1px solid #009b4e;
                    border-left: 1px solid #009b4e;
                    border-right: 1px solid #009b4e;">
                      <i class="close icon"></i>
                        {{ message }}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="ui grid m0">
            <div class="one wide column">
            </div>
            <div class="eleven wide column">
                <div class="wrapper">
                    <header class="header-part">
                        <img class="circular ui image" id="avatar" src="{% static 'img/avatar.jpeg' %}">
                        <img class="ui header" src="{% static 'img/logo1.png' %}">
                    </header>
                    <div class="ui menu tt">
                        <a class="item" href="{% url 'home' %}">
                            <i class="home icon"></i> Home
                        </a>
                        <a class="item">
                            <i class="cloud icon"></i> Portfolio
                        </a>
                        <a class="item">
                            <i class="music icon"></i> Music
                        </a>
                        <a class="item">
                            <i class="music icon"></i> About
                        </a>
                        <div class="right menu">
                            <div class="item">
                              <div class="ui icon input">
                                <input type="text" placeholder="Search...">
                                <i class="search link icon"></i>
                              </div>
                            </div>
                        </div>
                    </div>
                    {% block body %}
                    {% endblock %}
                <div class="placeholder90">
                </div>
                </div>
            </div>
        </div>
        <div class="placeholder90"></div>
    <div class="ui dimmer hidden">
        <div class="content">
            <div class="center">Free!</div>
        </div>
    </div>
    </div>
    <div class="footer">
        <div class="inner">
            <div style="text-align: center">Powered By 丸子哥略屌</div>
        </div>
    </div>
</body>


    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="{% static 'js/semantic.js' %}"></script>
    <script type="text/javascript">
        $("document").ready(function()
        {
{#            $sideBarButton = $(".launch.button"),#}
            $('#avatar').mouseenter(function(){$(this).transition('tada')});
            $tag = $(".tag");
            $tag.each(function(){
                $(this).attr('href', $(this).attr('href')+'?search='+$(this).text());
            });

{#            $sideBarButton.mouseenter(function()#}
{#            {#}
{#		        $(this).stop().animate({width: '164px'}, 200,function()#}
{#                {#}
{#                    if($(this).attr('status') == 'lock'){#}
{#                        $(this).find('.lock').addClass('unlock alternate').removeClass('lock');#}
{#                    }#}
{#                    else{#}
{#                        $(this).find('.unlock').addClass('alternate');#}
{#                    }#}
{#                    $(this).find('.text').show();#}
{#                });#}
{#	        }).mouseleave(function (event)#}
{#            {#}
{#		        $(this).find('.text').hide();#}
{#                if($(this).attr('status') == 'lock'){#}
{#                    $(this).find('.icon').addClass('lock').removeClass('unlock alternate');#}
{#                }#}
{#                else{#}
{#                    $(this).find('.icon').removeClass('alternate');#}
{#                }#}
{#		        $(this).stop().animate({width: '70px'}, 200);#}
{#	        });#}
{#            $sideBarButton.click(function(){#}
{#            $('.ui.sidebar').sidebar('toggle');#}
{#            });#}
       });

        function onClick() {

{#            if ($(this).attr('status') == 'lock') {#}
{#                $(this).attr('status', 'unlock');#}
{#                $(".eleven").addClass('thirteen').removeClass('eleven');#}
{#            }#}
{#            else {#}
{#                $(this).attr('status', 'lock');#}
{#                $(".thirteen").addClass('eleven').removeClass('thirteen');#}
{#            }#}



{#            if ($upper.hasClass('dimmed')) {#}
{#                $upper.dimmer('hide');#}
{#            }#}
{#            else {#}
{#                $upper.dimmer({closable: false#}
{#                              }).dimmer('show');#}
{#            }#}
        }
    </script>
    {% block js %}
    {% endblock %}
</html>