{% extends 'base.html' %}
{% load staticfiles %}
{% load markdown %}

{% block title %}
    Blog
{% endblock %}

{% block sidebar %}
    <div class="ui styled sidebar" style="background-image: url(/static/img/bg_yellow_light.gif)">
      <h3 class="ui header">You Might Like</h3>
      <div class="ui fluid vertical menu">
        <a class="item">
          <i class="chat outline icon"></i>
          More by this author
        </a>
        <a class="item">
          <i class="text file icon"></i>
          Suggested Articles
        </a>
      </div>
      <h3 class="ui header">Contact Us</h3>
      <div class="ui form">
        <div class="field">
          <label>Name</label>
          <div class="ui icon input">
            <i class="user icon"></i>
            <input type="text" data-placeholder="Name">
          </div>
        </div>
        <div class="field">
          <label>Message</label>
          <textarea></textarea>
        </div>
        <div class="ui black fluid button">Submit</div>
      </div>
    </div>
{% endblock %}

{% block body %}
    <div class="TTcontent">
    {% if not articles %}
        <div class="empty">No Result</div>
    {% endif %}
    {% for article in articles %}
        <div class="article">
        <div class="entryheader">
            <div class="entrytype">
                <div id="label" class="ui ribbon label">
                    <i class="{{ article.type.icon }} icon"></i>
                </div>
            </div>
            {% if article.type.title == "Project" %}
                <div class="ui items">
                <div class="item" id="project">
                    <div class="image">
                      <img class="ui huge image" src="{{ article.project.picture }}">
                      <a class="like ui corner label">
                        <i class="like icon"></i>
                      </a>
                    </div>
                    <div class="content">
                      <div class="name">{{ article.project.title }}</div>
                      <p class="description">{{ article.project.description }}</p>
                        <div class="ui buttons">
                            <a class="ui animated button" href="{{ article.project.code_url }}">
                                <div class="visible content">
                                    Code
                                </div>
                                <div class="hidden content">
                                    <i class="{{ article.project.git }} icon"></i>
                                </div>
                            </a>
                            <div class="or"></div>
                            <a class="ui positive button" href="{{ article.project.demo_url }}">Demo</a>
                        </div>
                      <div class="extra">
                          199 votes
                      </div>
                    </div>
                </div>
                </div>
            {% else %}
                <h1><a href="{% url 'article' article.id %}">{{ article.title }}</a> | <a id="category" href="">{{ article.category }}</a></h1>
                <i class="calendar icon"></i>
                <time class="ui floated left">Posted on: {{ article.datetime }}</time>
                <tag class="ui floated right">
                <i class="tags basic icon"></i>
                {% for tag in article.tag_set.all %}
                    <a id="tag" class="ui tag" href="{% url 'show' 1 %}">{{ tag }}</a>
                {% endfor %}
                </tag>
                <div class="entrybody">
                {{ article.summary |markdown|safe }}
                </div>
                <p>...</p>
            {% endif %}
        <div>
            <p class="floatright" id="views">Viewed {{ article.views }} times</p>
            <i class="icon right arrow"></i><a class="detail" href="{% url 'article' article.id %}">Read More</a>
        </div>
        <div id="entryd" class="ui horizontal icon divider">
            <i class="circular {{ article.type.icon }} icon"></i>
        </div>
    </div>
    </div>
    {% endfor %}
    </div>
    <div class="ui divider">
    </div>
    <div class="ui grid">
        <div class="four wide column">
            <a id="previous" class="ui black button {% if page == 1 %} disabled {% endif %} left" href="{% url 'show' page|add:-1 %}">Previous</a>
        </div>
        <div class="eight wide column" style="text-align: center;">
            <div class="ui borderless pagination menu">
                {% for p in pages %}
                <a class="item {% if page == forloop.counter %} disabled {% endif %}" href="{% url 'show' forloop.counter %}">{{ forloop.counter }}</a>
                {% endfor %}
            </div>
        </div>
        <div class="four wide column">
            <a id="next" class="ui black {% if page == pages|length %} disabled {% endif %} button floatright" href="{% url 'show' page|add:1 %}">Next</a>
        </div>
    </div>
{% endblock %}