{% extends 'base.html' %}
{% load staticfiles %}
{% load markdown %}

{% block title %}
    Blog
{% endblock %}


{% block sidebar %}
    <div class="ui styled sidebar" style="background-image: url(/static/img/bg_yellow_light.gif)">
    </div>
{% endblock %}

{% block body %}
    <div class="TTcontent">
        <div class="article">
        <div class="entryheader">
            <div class="entrytype">
                <div id="label" class="ui ribbon label">
                    <i class="{{ article.type.icon }} icon"></i>
                </div>
            </div>
            <h1>{{ article.title }} | <a id="category" href="">{{ article.category }}</a></h1>
            <i class="calendar icon"></i>
            <time class="ui floated left">Posted on: {{ article.datetime }}</time>
            <tag class="ui floated right">
            <i class="tags basic icon"></i>
            <form action="{% url 'show' 1 %}" method="get" id="tagform">
            {% for tag in article.tag_set.all %}
                <a id="tag" class="ui tag" href="{% url 'show' 1 %}">{{ tag }}</a>
            {% endfor %}
            </form>
            </tag>
        </div>
        <div class="entrybody">
        {% if article.music %}
        <div id="music-wrapper">
            <audio id="musicplayer">
                <source src="{{ article.music.url }}" type="audio/mp3" />
            </audio>
            <div id="defaultBar">
                <div id="progressBar"></div><!--
                --><div id="progressHead"></div>
            </div>
            <div id="controlBtn">
                <i class="play icon large" id="controlIcon"></i>
            </div>
            <div id="captain">
                <p class="musictitle">{{ article.music.title }}</p>
                <p class="author">covered by {{ article.music.author }}</p>
            </div>
        </div>
        {% endif %}
        {{ article.content |markdown |safe}}
        </div>
        </div>
        <div>
        &nbsp;
            <p id="views" class="floatright">Viewed {{ article.views }} times</p>
        </div>
{#        <div>#}
{#            <i class="icon right arrow"></i><a href="">Read More</a>#}
{#        </div>#}
        <div class="ui horizontal icon divider">
            <i class="circular {{ article.type.icon }} icon"></i>
        </div>
        <div class="empty">Be The First To Comment Here!</div>
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'js/ttmusicplayer.js' %}"></script>
{% endblock %}