<!DOCTYPE html>
{% load staticfiles %}
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>TTmusicPlayer</title>

    <link rel="stylesheet" href="{% static 'css/ttmusicplayer.css' %}">
    <link rel="stylesheet" href="{% static 'css/semantic.css' %}">
</head>

<body>
    <div class="ui grid">
        <a class="ui right red corner label">
            <i class="github icon"></i>
        </a>
        <div class="five wide column">
            <h1 class="ui header" style="text-align: right"><i class="music icon"></i>TT Music Player</h1>
            <h3 class="ui header" style="font-weight: 100;text-align: right;">Simple and Pretty.</h3>
        </div>
{#        <div class="one wide column"></div>#}
        <div class="nine wide column">
        <div id="music-wrapper" style="margin-top:0.5em;">
            <audio id="musicplayer">
                <source src="https://s3.amazonaws.com/ttcmusic/ymhtm.mp3" type="audio/mp3" />
            </audio>
            <div id="defaultBar">
                <div id="progressBar"></div><!--
                --><div id="progressHead"></div>
            </div>
            <div id="controlBtn">
                <i class="play icon large" id="controlIcon"></i>
            </div>
            <div id="captain">
                <p class="musictitle">有梦好甜蜜</p>
                <p class="author">covered by TTc</p>
            </div>
        </div>
        </div>
        <div class="ui divider"></div>
    </div>
    <div style="text-align: center; height:2em; font-family: fantasy;">Powered by <a href="http://www.tongtianqi.com/" style="text-decoration:blink;">TTc</a> 2014</div>
</body>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="{% static 'js/ttmusicplayer.js' %}"></script>
</html>